.item-bag-body {
    font-family: Cabin;
    background-color: #EDEDED;
    display: flex;
}

button{
    font-family: Cabin;
    font-size: 15px;
}
  
.navbar1 {
    display: inline-flex;
    flex-direction: column;
    height: 740px;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #FFF;
    border: 1px none;
    min-width: 72px;
}
  
.navbar1 .nav-links-top {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
}
  
.navbar1 .logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #FFF;
    border-radius: 4px;
}
  
.navbar1 .group {
    position: relative;
    width: 16px;
    height: 20.71px;
}
  
.navbar1 .overlap-group {
    position: relative;
    width: 16px;
    height: 22px;
}
  
.navbar1 .union {
    position: absolute;
    top: 0;
    z-index: 99;
}
  
.navbar .rectangle {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 12px;
    height: 15px;
    transform: rotate(10.7deg);
}
  
.navbar1 .div {
    top: 5px;
    left: 1px;
    background-color: 	transparent;
    position: absolute;
    width: 12px;
    height: 15px;
    transform: rotate(10.7deg);
}
  
.navbar1 .div-2 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
}
  
.navbar1 .icon {
    position: relative;
    width: 24px;
    height: 24px;
}
  
.navbar1 .nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
  
.navbar1 .nav-link-2 {
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #1A1F16;
    border-radius: 10px;
    overflow: hidden;
    display: inline-flex;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
}
  
.navbar1 .nav-link-3 {
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #E5252C;
    border-radius: 10px;
    overflow: hidden;
    display: inline-flex;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -80px;
}
  
.second-content {
    padding: 48px;
    margin-left: 50px;
}
  
.label {
    border: 0px none;
    height: 50px;
    width: 444px;
    margin-bottom: 30px;
}
  
.label .text-wrapper {
    color: #1A1F16;
    font-family: Cabin;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: normal;
    position: relative;
    margin-left: 8%;
    margin-bottom: 10px;
}
  
.label1 {
    border: 0px none;
    height: 47px;
    width: 63px;
    margin: auto;
    margin-bottom: 20px;
}
    
.label1 .text-wrapper1 {
    color: #1A1F16;
    font-family: Cabin;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: normal;
    position: fixed;
}
    
  
.item-in-bag {
    align-items: flex-start;
    background-color: #FFF;
    border-radius: 21px;
    display: flex;
    gap: 16px;
    overflow: hidden;
    padding: 16px 20px;
    position: relative;
      /*top: -241px; */
    width: 950px;
    margin-left: 8%;
    margin-bottom: 24px;
}
    
.item-in-bag .column15 {
    float: left;
    width: 25%;
    padding: 0 10px;
    align-items: center;
}

.item-in-bag .card15 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.item-in-bag .card15 img{
    width: 200px;
    height: 200px;
}

.item-in-bag .content-area {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    padding: 8px;
    position: relative;
}
    
.item-in-bag .header {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    position: relative;
    width: 100%;
}
    
.item-in-bag .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 0px 8px;
    position: relative;
}
    
    
.item-in-bag .item-name {
    color: #1A1F16;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: var(--subtitle-small-regular-normal-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}
    
.item-in-bag .item-type {
    color: gray;
    font-family: Cabin;
    font-size: var(--body-normal-regular-normal-font-size);
    font-style: var(--body-normal-regular-normal-font-style);
    font-weight: var(--body-normal-regular-normal-font-weight);
    letter-spacing: var(--body-normal-regular-normal-letter-spacing);
    line-height: var(--body-normal-regular-normal-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.item-in-bag .small-description {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 8px;
    position: relative;
    width: 100%;
}
    
.item-in-bag .text-wrapper {
    color: var(--fontdark);
    font-family: var(--body-normal-regular-condensed-font-family);
    font-size: var(--body-normal-regular-condensed-font-size);
    font-style: var(--body-normal-regular-condensed-font-style);
    font-weight: var(--body-normal-regular-condensed-font-weight);
    letter-spacing: var(--body-normal-regular-condensed-letter-spacing);
    line-height: var(--body-normal-regular-condensed-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.item-in-bag .rating {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 8px;
    position: relative;
    width: 100%;
}
    
.item-in-bag .stars {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    padding: 0px 16px 0px 0px;
    position: relative;
}
    
.item-in-bag .div {
    color: var(--fontaccent);
    font-family: var(--body-normal-regular-condensed-font-family);
    font-size: var(--body-normal-regular-condensed-font-size);
    font-style: var(--body-normal-regular-condensed-font-style);
    font-weight: var(--body-normal-regular-condensed-font-weight);
    letter-spacing: var(--body-normal-regular-condensed-letter-spacing);
    line-height: var(--body-normal-regular-condensed-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.item-in-bag .price-rating {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 8px;
    position: relative;
    width: 100%;
}
    
.item-in-bag .price {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 8px;
    position: relative;
}
    
.item-in-bag .text-wrapper-2 {
    color: var(--fontdark);
    font-family: var(--body-normal-regular-normal-font-family);
    font-size: var(--body-normal-regular-normal-font-size);
    font-style: var(--body-normal-regular-normal-font-style);
    font-weight: var(--body-normal-regular-normal-font-weight);
    letter-spacing: var(--body-normal-regular-normal-letter-spacing);
    line-height: var(--body-normal-regular-normal-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.item-in-bag .quantity {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 8px;
    position: relative;
    margin-right: 30px;
}
    
.item-in-bag .price-2 {
    align-items: center;
    display: flex;
    gap: 16px;
    position: relative;
    width: 111px;
}
    
.item-in-bag .button-instance {
    flex: 0 0 auto !important;
    left: unset !important;
    top: unset !important;
}
    
.item-in-bag .element {
    color: var(--fontdark);
    font-family: var(--body-normal-regular-normal-font-family);
    font-size: var(--body-normal-regular-normal-font-size);
    font-style: var(--body-normal-regular-normal-font-style);
    font-weight: var(--body-normal-regular-normal-font-weight);
    letter-spacing: var(--body-normal-regular-normal-letter-spacing);
    line-height: var(--body-normal-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.item-in-bag .icon-instance-node {
    height: 18px !important;
    position: relative !important;
    width: 18px !important;
}
    
.item-in-bag .star {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}
  
.third-content{
    border-left: 4px solid #1a1f1680;
    height: 630px;
    margin-top: 60px;
    padding-right: 60px;
    right: 0;
    position: fixed;
    background-color: #EDEDED;
}
    
.bag-item {
    align-items: center;
    background-color: #FFF;
    border-radius: 12px;
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 8px;
    position: relative;
    width: 80px;
    margin-bottom: 5px;
}
  
.small-item{
    width: 64px;
    height: 64px;
}
    
.small-items{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-left: 7%;
    width: 270px;
}

.third-content .view-bag {
    padding: 0 20px 20px;
}

.third-content .view-bag button{
    background: gray;
    border: 0;
    border-radius: 8px;
    color: white;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.view-bag button span{
    text-decoration: transparent;
}

.third-content .view-bag > button:hover {
    background: #FFF;
    border: 2px solid gray;
    box-shadow: 2px;
    color: gray;
}
  
.label4 {
    height: 24px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}
    
.label4, .text-wrapper4 {
    color: #1A1F16;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
  
.checkout {
    text-align: center;
}
  
.checkout .text-wrapper12{
    color: #FFF;
    background-color: #1A1F16;
}

    /*=================================================================================================*/
.address-page{
    background: #EDEDED;
}

.small-container{
    font-family: Cabin;
    width: 40%;
    background-color: #FFF;
    margin-left: 25%;
    padding: 39px 54px;
    border-radius: 15px;
    margin-top: 10px;
    padding-bottom: 70px;
}

.small-container p{
    float: left;
    align-items: start;
    color: rgba(26, 31, 22, 0.50);
}

.address-page h1{
    color: #1A1F16;
    font-family: Cabin;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.813px;
    text-transform: uppercase;
}
.form-container{
    font-family: Cabin;
    width: 40%;
    background-color: #FFF;
    margin-left: 25%;
    padding: 39px 54px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.address-page label {
    color: rgba(26, 31, 22, 0.50);
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.address-page .para {
    color: rgba(26, 31, 22, 0.50);
    float: left;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label .text-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    font-family: var(--body-small-regular-condensed-font-family);
    font-weight: var(--body-small-regular-condensed-font-weight);
    color: var(--fontplaceholder);
    font-size: var(--body-small-regular-condensed-font-size);
    letter-spacing: var(--body-small-regular-condensed-letter-spacing);
    line-height: var(--body-small-regular-condensed-line-height);
    white-space: nowrap;
    font-style: var(--body-small-regular-condensed-font-style);
  }

.address-page input[type=text], select {
    width: 100%;
    font: 600 20px Cabin;
    color: rgba(26, 31, 22, 0.50);
    padding: 12px 5px;
    margin-top: 8px;
    margin-bottom: 12px;
    box-sizing: content-box;
    border: transparent;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(26, 31, 22, 0.15);
}

.address-page input[type=tel], select {
    width: 30%;
    font: 600 20px Cabin;
    color: rgba(26, 31, 22, 0.50);
    padding: 12px 5px;
    margin-top: 8px;
    margin-bottom: 12px;
    box-sizing: content-box;
    border: transparent;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(26, 31, 22, 0.15);
}

.address-page input[type=tel]::placeholder {
    color: rgba(26, 31, 22, 0.50);
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.address-page input[type=text]::placeholder {
    color: rgba(26, 31, 22, 0.50);
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.address-page input[type=date], select {
    width: 30%;
    font: 600 20px Cabin;
    color: rgba(26, 31, 22, 0.50);
    padding: 12px 5px;
    margin-top: 8px;
    margin-bottom: 12px;
    box-sizing: content-box;
    border: transparent;
    border-radius: 13px;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(26, 31, 22, 0.15);
}

.address-page input[type=date]::placeholder {
    color: rgba(26, 31, 22, 0.50);
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.address-page input[type=checkbox] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: inline-block;
    accent-color: #12805D;
}

.address-page input[type=submit] {
    width: 100%;
    color: #FFF;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
}
  
.address-page input[type=submit]:hover {
    background-color: azure;
    color: #1A1F16;
    border: 2px dotted #1A1F16;
}

.add-address-btn {
    color: #FFF;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    background: #1A1F16;
}

.address-page button{
    border: none;
    background: #FFF;
    color: rgba(26, 31, 22, 0.50);
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    text-decoration-line: underline;
    cursor: pointer;
}

.address-page button:hover{
    background: rgba(26, 31, 22, 0.50);
    color: #FFF;
    border-radius: 5px;
}

.secure-connection{
    float: right;
    color: #02D693;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}


/* Checkout page \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.checkoutt_page{
    font-family: Cabin;
    padding-left: 5%;
    padding-right: 5%;
}

.checkoutt_page h1{
    color: #1A1F16;
    font-family: Cabin;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 7.813px;
    text-transform: uppercase;
}

.column111 {
    flex: 90%;
    padding: 10px; /* Should be removed. Only for demonstration */
}

.column111 .small-container{
    display: flex;
    padding: 10px;
    width: 70%;
}

.column112 {
    flex: 30%;
    padding: 2px;
}
  
  /* Clear floats after the columns */
.row {
    display: flex;
}

.small-container .item-in-bag1 {
    align-items: start;
    background-color: #FFF;
    display: flex;
    overflow: hidden;
    padding: 16px 20px;
    position: inline-block;
      /*top: -241px; */
    margin-bottom: 24px;
}
    
.small-container .item-in-bag1 .column15 {
    float: left;
    width: 25%;
    align-items: center;
}

.small-container .item-in-bag1 .card15 {
    padding: 2px;
    text-align: center;
    margin: auto;
    background-color: #FFF;
    box-shadow: none;
}

.small-container .item-in-bag1 .card15 img{
    width: 150px;
    height: 150px;
}

.small-container .item-in-bag1 .content-area {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    padding: 2px;
    position: relative;
}
    
.small-container .item-in-bag1 .header {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    position: relative;
    width: 100%;
}
    
.small-container .item-in-bag1 .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 0px 8px;
    position: relative;
}
    
    
.small-container .item-in-bag1 .item-name {
    color: #1A1F16;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
    line-height: var(--subtitle-small-regular-normal-line-height);
    margin-top: -1px;
    position: relative;
    width: fit-content;
}
    
.small-container .item-in-bag1 .item-type {
    color: gray;
    font-family: Cabin;
    font-size: var(--body-normal-regular-normal-font-size);
    font-style: var(--body-normal-regular-normal-font-style);
    font-weight: var(--body-normal-regular-normal-font-weight);
    letter-spacing: var(--body-normal-regular-normal-letter-spacing);
    line-height: var(--body-normal-regular-normal-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.small-container .item-in-bag1 .small-description {
    color: #1A1F16;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 8px;
    position: relative;
    width: 100%;
}
    
.small-container .item-in-bag .text-wrapper {
    color: var(--fontdark);
    font-family: Cabin;
    font-size: var(--body-normal-regular-condensed-font-size);
    font-style: var(--body-normal-regular-condensed-font-style);
    font-weight: var(--body-normal-regular-condensed-font-weight);
    letter-spacing: var(--body-normal-regular-condensed-letter-spacing);
    line-height: var(--body-normal-regular-condensed-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.small-container .item-in-bag1 .rating {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 8px;
    position: relative;
    width: 100%;
}
    
.small-container .item-in-bag1 .stars {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    padding: 0px 16px 0px 0px;
    position: relative;
}
    
.small-container .item-in-bag .div {
    color: var(--fontaccent);
    font-family: var(--body-normal-regular-condensed-font-family);
    font-size: var(--body-normal-regular-condensed-font-size);
    font-style: var(--body-normal-regular-condensed-font-style);
    font-weight: var(--body-normal-regular-condensed-font-weight);
    letter-spacing: var(--body-normal-regular-condensed-letter-spacing);
    line-height: var(--body-normal-regular-condensed-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.small-container .item-in-bag1 .price-rating {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    margin-right: 20%;
    position: relative;
    width: 100%;
}
    
.small-container .item-in-bag1 .price {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 8px;
    position: relative;
}

.small-container hr{
    width: 90%;
    height: 1px;
    background: rgba(26, 31, 22, 0.50);
}
    
.small-container .item-in-bag .text-wrapper-2 {
    color: var(--fontdark);
    font-family: var(--body-normal-regular-normal-font-family);
    font-size: var(--body-normal-regular-normal-font-size);
    font-style: var(--body-normal-regular-normal-font-style);
    font-weight: var(--body-normal-regular-normal-font-weight);
    letter-spacing: var(--body-normal-regular-normal-letter-spacing);
    line-height: var(--body-normal-regular-normal-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.small-container .item-in-bag1 .quantity {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 8px;
    position: relative;
    margin-left: 30px;
}
    
.small-container .item-in-bag1 .price-2 {
    align-items: center;
    display: flex;
    gap: 16px;
    position: relative;
    width: 111px;
}
    
.small-container .item-in-bag1 .button-instance {
    flex: 0 0 auto !important;
    left: unset !important;
    top: unset !important;
}
    
.small-container .item-in-bag1 .element {
    font-family: Cabin;
    font-size: var(--body-normal-regular-normal-font-size);
    font-style: var(--body-normal-regular-normal-font-style);
    font-weight: var(--body-normal-regular-normal-font-weight);
    letter-spacing: var(--body-normal-regular-normal-letter-spacing);
    line-height: var(--body-normal-regular-normal-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}
    
.small-container .item-in-bag1 .icon-instance-node {
    height: 18px !important;
    position: relative !important;
    width: 18px !important;
}
    
.small-container .item-in-bag1 .star {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}


/* Checkout Page ------------------------------- */

/* checkout css */

.content-checkout {
    width: 871px;
    height: Hug (1, 818px);
    top: 56px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    /* Adjust the value as needed */
    margin: 0 auto;
    padding: 20px;
  }
  
  .left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .shipping-address-card {
    width: 871px;
    height: Hug (230px);
    padding: 16px;
    border-radius: 13px;
    gap: 8px;
    background: #FFFFFF;
    justify-content: space-around;
    margin: 50px 0;
    flex: 1;
    margin-bottom: 20px;
    /* Add spacing between the cards */
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .Header-address-card {
    width: Hug (413px);
    height: Hug (54px);
    padding: 8px;
  }
  
  .Shipping {
    width: 397px;
    height: 38px;
    /* styleName: Subtitle/Small/Regular/Expanded; */
    font-family: Cabin;
    font-size: 31px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.25em;
    text-align: left;
    color: #1A1F16;
  }
  
  .Shipping-address {
    width: Fill (839px);
    height: Hug (136px);
    justify-content: space-between;
  }
  
  .Current-address {
    width: Hug (227px);
    height: Hug (136px);
    padding: 8px;
    gap: 1px;
  }
  
  .Current-address p {
    /* styleName: Body/Normal/Regular/Normal; */
    font-family: Cabin;
    font-size: 20px;
    font-weight: 400;
    line-height: 1px;
    letter-spacing: 0em;
    margin: 1px;
    text-align: left;
    color: #1A1F16;
  }
  
  .change-address-btn {
    float: right;
    border: 1px solid #333;
  }
  
  .change-address-btn:hover {
    background-color: #333;
    color: white;
    border: white;
  }
  
  
  
  .Payment-Method {
    width: Fixed (871px);
    height: Hug (214px);
    padding: 16px;
    border-radius: 13px;
    gap: 8px;
    background: #FFFFFF;
    flex: 1;
    margin-bottom: 20px;
    /* Add spacing between the cards */
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .Payment-header {
    width: Hug (385px);
    height: Hug (54px);
    padding: 8px;
  }
  
  .Payment-header h1 {
    width: 369px;
    height: 38px;
    /* styleName: Subtitle/Small/Regular/Expanded; */
    font-family: Cabin;
    font-size: 31px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.25em;
    text-align: left;
  }
  
  .Payment-content {
    width: Fill (839px);
    height: Hug (120px);
    justify-content: space-between;
  }
  
  .change-payment-btn {
    float: right;
    border: 1px solid #333;
  }
  
  .change-payment-btn:hover {
    background-color: #333;
    color: white;
    border: white;
  }
  
  .Current-payment {
    width: Hug (384px);
    height: Hug (120px);
    padding: 8px;
    gap: 16px;
  }
  
  .Current-payment p {
    width: Hug (250px);
    height: Hug (24px);
    gap: 8px;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 1px;
  }
  
  .content-reviewed-bag {
    width: Fixed (871px);
    height: Hug (1, 326px);
    padding: 16px;
    border-radius: 13px;
    gap: 8px;
    background: #FFFFFF;
    flex: 1;
    margin-bottom: 20px;
    /* Add spacing between the cards */
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .review-bag-header {
    width: 391px;
    height: Hug (70px);
    padding: 8px 8px 24px 8px;
    gap: 16px;
  }
  
  .review-bag-header h1 {
    width: 375px;
    height: 38px;
    /* styleName: Subtitle/Small/Regular/Expanded; */
    font-family: Cabin;
    font-size: 31px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.25em;
    text-align: left;
    color: #1A1F16;
  }
  
  .bag-content {
    width: Fill (839px);
    height: Hug (1, 216px);
    padding: 8px;
    gap: 8px;
  }
  
  .item-view-bag-content {
    width: Fill (823px);
    height: Hug (288px);
    padding: 16px 24px 16px 24px;
    gap: 16px;
  }
  
  .right-column {
    width: 30%;
    /* Adjust the width as needed */
  }
  
  .total-summary-card {
    width: 243px;
    height: 345px;
    top: 59px;
    border-radius: 12px;
    background-color: #FFF;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }
  
  
  .summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .items-summary {
    flex: 1;
    width: Fill (211px);
    height: Hug (19px);
    justify-content: space-between;
  }
  
  .item-price-summary {
    text-align: right;
  }
  
  .shipping-summary {
    flex: 1;
    width: Fill (211px);
    height: Hug (19px);
    justify-content: space-between;
  }
  
  .shipping-price-summary {
    text-align: right;
  }
  
  .est-gst {
    flex: 1;
    width: Fill (211px);
    height: Hug (19px);
    justify-content: space-between;
  }
  
  .est-gst-price-summary {
    text-align: right;
  }
  
  .gift-card-summary {
    flex: 1;
    width: Fill (211px);
    height: Hug (19px);
    justify-content: space-between;
  }
  
  .hr {
    width: 211px;
    border: 1px;
    color: #BFD1E5;
    align-items: center;
  }
  
  .gift-card-price-summary {
    text-align: right;
  }
  
  .order-total {
    width: Fill (211px);
    height: Hug (24px);
    justify-content: space-between;
    color: red;
  }
  
  .order-total-price-summary {
    width: Fill (211px);
    height: Hug (24px);
    justify-content: space-between;
    color: red;
  }
  
  .order-placement-btn {
    color: white;
    background-color: #111111;
    border: white;
  }
  
  
  .order-placement-btn:hover {
    color: white;
    background-color: #333;
    border: white;
  }
  
  
  .backtocart {
    float: right;
    margin: 20px 0;
    border: white;
  }
  
  
  .backtocart:hover {
    color: white;
    background-color: #333;
    border: white;
  }
  
  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .checkout-container {
      flex-direction: column;
    }
  
    .right-column {
      max-width: none;
      margin-left: 0;
    }
  }
  